@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Arial", "sans-serif";
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39.5px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 24px;
    margin: 0 auto;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  background-color: #0E0E0E;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__inner__logo {
  display: block;
}
.header__inner__logo__link {
  text-decoration: none;
}
.header__inner__jpg {
  display: none;
}
.header__inner__img {
  display: block;
}
.header__inner__img__link {
  text-decoration: none;
}
.header__inner__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 35px;
  padding-bottom: 35px;
}
.header__inner__list__item {
  margin-left: 34px;
}
.header__inner__list__item__link {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__inner__list__item__link:hover {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D87D4A;
}

@media only screen and (max-width: 768px) {
  .header {
    max-width: 768px;
    background: #191919;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__inner__logo {
    margin-left: 42px;
  }
  .header__inner__div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__inner__jpg {
    display: block;
  }
  .header__inner__img {
    display: block;
  }
  .header__inner__list {
    background-color: #D87D4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .header__inner__list__item {
    display: none;
    margin-left: 34px;
  }
  .header__inner__list__item__link {
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media only screen and (max-width: 375px) {
  .header {
    max-width: 375px;
    background: #191919;
  }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__inner__logo {
    margin-left: 42px;
  }
  .header__inner__div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__inner__jpg {
    display: block;
  }
  .header__inner__img {
    display: block;
  }
  .header__inner__list {
    background-color: #D87D4A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .header__inner__list__item {
    display: none;
    margin-left: 34px;
  }
  .header__inner__list__item__link {
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
.hero {
  background-color: #0E0E0E;
}
.hero__inner {
  background-color: #0E0E0E;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-top: 128px;
  padding-right: 165px;
  padding-bottom: 158px;
  background-image: url(../../images/media.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.hero__inner__btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #D87D4A;
  padding: 15px 29.5px 15px 31.5px;
}
.hero__inner__btn:hover {
  background: #FBAF85;
  cursor: pointer;
}
.hero__inner__p1 {
  position: relative;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-bottom: 24px;
}
.hero__inner__p1::before {
  position: absolute;
  content: url(../../images/line.png);
  top: -128px;
}
.hero__inner__h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 24px;
}
.hero__inner__p2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-bottom: 40px;
}

.head__inner {
  margin: 0;
  padding: 0;
}
.head__inner__list {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  margin-top: 120px;
  margin-bottom: 168px;
  position: relative;
}
.head__inner__list__div {
  padding-top: 116px;
  padding-left: 108.5px;
  padding-right: 108.5px;
  padding-bottom: 30px;
}
.head__inner__list__div2 {
  padding-top: 116px;
  padding-left: 124.5px;
  padding-right: 108.5px;
  padding-bottom: 30px;
}
.head__inner__list__div3 {
  padding-top: 116px;
  padding-left: 116px;
  padding-right: 108.5px;
  padding-bottom: 30px;
}
.head__inner__list__item {
  width: 350px;
  background-color: #F1F1F1;
}
.head__inner__list__img {
  position: absolute;
  top: -84px;
  display: block;
  right: 856px;
}
.head__inner__list__img2 {
  position: absolute;
  top: -72px;
  display: block;
  right: 475px;
}
.head__inner__list__img3 {
  position: absolute;
  top: -60px;
  display: block;
  right: 100px;
}
.head__inner__list__png {
  display: none;
}
.head__inner__list__png2 {
  display: none;
}
.head__inner__list__png3 {
  display: none;
}
.head__inner__h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
  color: #000000;
  width: 133px;
  margin: 0 auto;
  margin-bottom: 15px;
}
.head__inner__p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 39px;
  margin: 0 auto;
  display: inline;
  margin-left: 25px;
}
.head__inner__p:hover {
  color: #D87D4A;
  cursor: pointer;
}
.head__inner__p::after {
  width: 5px;
  content: url(../../images/right.png);
  padding-left: 13.32px;
}

.zx9__inner {
  display: grid;
  grid-template-columns: 410.23px 349px;
  -moz-column-gap: 138.28px;
       column-gap: 138.28px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #D87D4A;
  margin-bottom: 48px;
}
.zx9__inner__div {
  padding: 133px 0px 74px 666px;
}
.zx9__inner__img {
  width: 410.23px;
  position: absolute;
  top: 96px;
  left: 117px;
}
.zx9__inner__png {
  display: none;
}
.zx9__inner__h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 58px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 261px;
  margin-bottom: 24px;
}
.zx9__inner__p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
  width: 349px;
  margin-bottom: 40px;
}
.zx9__inner__btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  padding: 15px 31.5px;
  width: 170px;
}
.zx9__inner__btn:hover {
  background: #4C4C4C;
}

.zx7__inner {
  background-image: url(../../images/zx7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.zx7__inner__div {
  padding-top: 101px;
  padding-left: 95px;
  padding-bottom: 101px;
}
.zx7__inner__h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.zx7__inner__btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  background: #F1F1F1;
  padding: 15px 29.5px 15px 31.5px;
  cursor: pointer;
}
.zx7__inner__btn:hover {
  background: #000000;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.yx1__inner {
  display: grid;
  grid-template-columns: 540px 540px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 122px;
}
.yx1__inner__png {
  display: none;
}
.yx1__inner__div {
  background: #F1F1F1;
  border-radius: 8px;
  padding-top: 82px;
  padding-left: 95px;
  padding-bottom: 101px;
}
.yx1__inner__h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}
.yx1__inner__btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000000;
  background: #F1F1F1;
  padding: 15px 29.5px 15px 31.5px;
}
.yx1__inner__btn:hover {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
}

.best__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px;
}
.best__inner__png {
  display: none;
}
.best__inner__jpg {
  display: none;
}
.best__inner__h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 1.42857px;
  text-transform: uppercase;
  color: #000000;
  width: 445px;
}
.best__inner__p {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  width: 445px;
}

.footer {
  background-color: #101010;
}
.footer__inner {
  padding-top: 75px;
  padding-bottom: 48px;
}
.footer__inner__img {
  display: block;
}
.footer__inner__img__link {
  text-decoration: none;
}
.footer__inner__div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}
.footer__inner__div2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.footer__inner__div2__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__inner__div2__list__item {
  list-style: none;
  margin-left: 16px;
}
.footer__inner__div2__list__item__link {
  text-decoration: none;
}
.footer__inner__div2__lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__inner__div2__lists__item {
  display: none;
  list-style: none;
  margin-left: 16px;
}
.footer__inner__div2__lists__item__link {
  text-decoration: none;
}
.footer__inner__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__inner__list__item {
  list-style: none;
  margin-left: 34px;
}
.footer__inner__list__item__link {
  text-decoration: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__inner__list__item__link:hover {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #D87D4A;
}
.footer__inner__span {
  display: block;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  width: 540px;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin-top: 36px;
  margin-bottom: 56px;
}
.footer__inner__span2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .footer {
    background-color: #101010;
  }
  .footer__inner {
    padding-top: 75px;
    padding-bottom: 48px;
    max-width: 768px;
    position: relative;
  }
  .footer__inner__img {
    display: block;
  }
  .footer__inner__img__link {
    text-decoration: none;
  }
  .footer__inner__div {
    display: block;
    justify-content: right;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer__inner__div2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    padding: 0;
  }
  .footer__inner__div2__list {
    position: absolute;
    right: 5px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__inner__div2__list__item {
    list-style: none;
    margin-left: 16px;
  }
  .footer__inner__div2__list__item__link {
    text-decoration: none;
  }
  .footer__inner__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 32px;
  }
  .footer__inner__list__item {
    list-style: none;
    margin-left: 0;
    margin-right: 34px;
  }
  .footer__inner__list__item__link {
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer__inner__list__item__link:hover {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D87D4A;
  }
  .footer__inner__span {
    display: block;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: 540px;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 36px;
    margin-bottom: 56px;
    width: 689px;
  }
  .footer__inner__span2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
}
@media only screen and (max-width: 375px) {
  .footer {
    background-color: #101010;
  }
  .footer__inner {
    padding-top: 75px;
    padding-bottom: 48px;
    max-width: 375px;
  }
  .footer__inner__img {
    display: block;
    text-align: center;
  }
  .footer__inner__img__link {
    text-decoration: none;
  }
  .footer__inner__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .footer__inner__div2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .footer__inner__div2__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__inner__div2__list__item {
    display: none;
    list-style: none;
    margin-left: 16px;
  }
  .footer__inner__div2__list__item__link {
    text-decoration: none;
  }
  .footer__inner__div2__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 48px;
  }
  .footer__inner__div2__lists__item {
    display: block;
    list-style: none;
    margin-left: 16px;
  }
  .footer__inner__div2__lists__item__link {
    text-decoration: none;
  }
  .footer__inner__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer__inner__list__item {
    list-style: none;
    margin-left: 0;
    margin-top: 16px;
    margin-right: 0;
  }
  .footer__inner__list__item__link {
    text-decoration: none;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .footer__inner__list__item__link:hover {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #D87D4A;
  }
  .footer__inner__span {
    display: block;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    width: 327px;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 36px;
    margin-bottom: 56px;
    display: block;
    text-align: center;
  }
  .footer__inner__span2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    display: block;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .hero__inner {
    background-color: #0E0E0E;
    max-width: 768px;
    padding: 0;
    margin: 0;
    padding-top: 205px;
    padding-bottom: 167px;
    background-image: url(../../images/media__tablet.png);
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    margin-bottom: 96.5px;
    padding-left: 83px;
    position: relative;
  }
  .hero__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #D87D4A;
    padding: 15px 29.5px 15px 31.5px;
  }
  .hero__inner__btn:hover {
    background: #FBAF85;
    cursor: pointer;
  }
  .hero__inner__p1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 24px;
  }
  .hero__inner__p1::before {
    display: none;
    position: absolute;
    content: url(../../images/line__tablet.png);
    content: normal;
  }
  .hero__inner__p1::after {
    position: absolute;
    content: url(../../images/line__tablet.png);
    content: normal;
  }
  .hero__inner__h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  .hero__inner__p2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
  }
  .head__inner {
    max-width: 768px;
    margin: 0;
    padding: 0;
  }
  .head__inner__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    margin-top: 120px;
    margin-bottom: 168px;
    position: relative;
  }
  .head__inner__list__div {
    padding-top: 88px;
    padding-left: 0;
    padding-right: 54px;
    padding-bottom: 22px;
  }
  .head__inner__list__div2 {
    padding-top: 88px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 22px;
  }
  .head__inner__list__div3 {
    padding-top: 88px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 22px;
  }
  .head__inner__list__item {
    background-color: #F1F1F1;
  }
  .head__inner__list__img {
    display: none;
  }
  .head__inner__list__img2 {
    display: none;
  }
  .head__inner__list__img3 {
    display: none;
  }
  .head__inner__list__png {
    display: block;
    position: absolute;
    top: -52px;
    right: 539px;
  }
  .head__inner__list__png2 {
    display: block;
    position: absolute;
    top: -52px;
    right: 316px;
  }
  .head__inner__list__png3 {
    display: block;
    position: absolute;
    top: -52px;
    right: 65px;
  }
  .head__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .head__inner__p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-left: 75px;
    display: inline;
    margin-left: 25px;
  }
  .head__inner__p:hover {
    color: #D87D4A;
    cursor: pointer;
  }
  .head__inner__p::after {
    width: 5px;
    content: url(../../images/right.png);
    padding-left: 13.32px;
  }
  .zx9__inner {
    margin: 0;
    padding: 0;
    max-width: 768px;
    display: flex;
    flex-direction: column;
    -moz-column-gap: 138.28px;
         column-gap: 138.28px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #D87D4A;
    margin-bottom: 48px;
  }
  .zx9__inner__div {
    padding: 0;
    padding-top: 52px;
    margin-bottom: 64px;
  }
  .zx9__inner__img {
    display: none;
  }
  .zx9__inner__png {
    display: block;
    margin-top: 52px;
  }
  .zx9__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
    margin-left: 41px;
  }
  .zx9__inner__p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-align: center;
    margin-bottom: 40px;
  }
  .zx9__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    padding: 15px 31.5px;
    margin: 0 auto;
    margin-left: 92px;
  }
  .zx9__inner__btn:hover {
    background: #4C4C4C;
  }
  .zx7__inner {
    max-width: 768px;
    background-image: url(../../images/zx7.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .zx7__inner__div {
    padding-top: 101px;
    padding-left: 62px;
    padding-bottom: 101px;
  }
  .zx7__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
  }
  .zx7__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background: #F1F1F1;
    padding: 15px 29.5px 15px 31.5px;
    cursor: pointer;
  }
  .zx7__inner__btn:hover {
    background: #000000;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .yx1__inner {
    max-width: 768px;
    display: grid;
    grid-template-columns: 339px 339px;
    -moz-column-gap: 11px;
         column-gap: 11px;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 122px;
  }
  .yx1__inner__png {
    display: block;
  }
  .yx1__inner__img {
    display: none;
  }
  .yx1__inner__div {
    background: #F1F1F1;
    border-radius: 8px;
    padding-top: 95px;
    padding-left: 95px;
    padding-bottom: 95px;
  }
  .yx1__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
  }
  .yx1__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background: #F1F1F1;
    padding: 15px 29.5px 15px 31.5px;
  }
  .yx1__inner__btn:hover {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
  }
  .best__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
  }
  .best__inner__img {
    display: none;
  }
  .best__inner__png {
    display: block;
    width: 100%;
  }
  .best__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000000;
    width: 573px;
    margin: 0 auto;
    margin-top: 63px;
  }
  .best__inner__p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 573px;
    margin: 0 auto;
    margin-top: 32px;
  }
}
@media only screen and (max-width: 375px) {
  .hero {
    background-color: #0E0E0E;
  }
  .hero__inner {
    background-color: #0E0E0E;
    max-width: 328px;
    padding: 0;
    margin: 0;
    padding-top: 128px;
    padding-right: 0;
    padding-bottom: 158px;
    background-image: url(../../images/media__mobile.png);
    background-repeat: no-repeat;
    background-size: 328px auto;
  }
  .hero__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #D87D4A;
    padding: 15px 29.5px 15px 31.5px;
  }
  .hero__inner__btn:hover {
    background: #FBAF85;
    cursor: pointer;
  }
  .hero__inner__p1 {
    position: relative;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 24px;
  }
  .hero__inner__p1::before {
    display: none;
    position: absolute;
    content: url(../../images/line.png);
    top: -128px;
  }
  .hero__inner__h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
  }
  .hero__inner__p2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin-bottom: 40px;
  }
  .head__inner {
    margin: 0;
    padding: 0;
  }
  .head__inner__list {
    width: 328px;
    display: grid;
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    row-gap: 68px;
    margin-top: 120px;
    margin-bottom: 168px;
    position: relative;
  }
  .head__inner__list__div {
    padding-top: 116px;
    padding-left: 108.5px;
    padding-right: 108.5px;
    padding-bottom: 30px;
  }
  .head__inner__list__div2 {
    padding-top: 116px;
    padding-left: 124.5px;
    padding-right: 108.5px;
    padding-bottom: 30px;
  }
  .head__inner__list__div3 {
    padding-top: 116px;
    padding-left: 116px;
    padding-right: 108.5px;
    padding-bottom: 30px;
  }
  .head__inner__list__item {
    background-color: #F1F1F1;
  }
  .head__inner__list__img {
    display: none;
    position: absolute;
    top: -84px;
    display: block;
    right: 856px;
  }
  .head__inner__list__img2 {
    display: none;
    position: absolute;
    top: -72px;
    display: block;
    right: 475px;
  }
  .head__inner__list__img3 {
    display: none;
    position: absolute;
    top: -60px;
    right: 100px;
  }
  .head__inner__list__png {
    display: block;
    position: absolute;
    top: -50px;
    right: 130px;
  }
  .head__inner__list__png2 {
    display: block;
    position: absolute;
    top: 225px;
    right: 128px;
  }
  .head__inner__list__png3 {
    display: block;
    position: absolute;
    top: 500px;
    right: 120px;
  }
  .head__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #000000;
    width: 133px;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  .head__inner__p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 39px;
    margin: 0 auto;
    display: inline;
    margin-left: 25px;
  }
  .head__inner__p:hover {
    color: #D87D4A;
    cursor: pointer;
  }
  .head__inner__p::after {
    width: 5px;
    content: url(../../images/right.png);
    padding-left: 13.32px;
  }
  .zx9__inner {
    display: grid;
    grid-template-columns: 328px;
    -moz-column-gap: 0;
         column-gap: 0;
    row-gap: 36px;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #D87D4A;
    margin-bottom: 48px;
  }
  .zx9__inner__div {
    padding: 0;
  }
  .zx9__inner__img {
    display: none;
    width: 410.23px;
    position: absolute;
    top: 96px;
    left: 117px;
  }
  .zx9__inner__png {
    display: block;
    margin: 0 auto;
  }
  .zx9__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 1.28571px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .zx9__inner__p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .zx9__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
    padding: 15px 31.5px;
    width: 170px;
  }
  .zx9__inner__btn:hover {
    background: #4C4C4C;
  }
  .zx7__inner {
    background-image: url(../../images/zx7__mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .zx7__inner__div {
    padding-top: 101px;
    padding-left: 24px;
    padding-bottom: 101px;
  }
  .zx7__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
  }
  .zx7__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background: #F1F1F1;
    padding: 15px 29.5px 15px 31.5px;
    cursor: pointer;
  }
  .zx7__inner__btn:hover {
    background: #000000;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .yx1__inner {
    display: grid;
    grid-template-columns: 327px;
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 122px;
  }
  .yx1__inner__img {
    display: block;
  }
  .yx1__inner__png {
    display: none;
  }
  .yx1__inner__div {
    background: #F1F1F1;
    border-radius: 8px;
    padding-top: 41px;
    padding-left: 25.5px;
    padding-bottom: 41px;
  }
  .yx1__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
  }
  .yx1__inner__btn {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    background: #F1F1F1;
    padding: 15px 29.5px 15px 31.5px;
  }
  .yx1__inner__btn:hover {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
  }
  .best__inner {
    display: grid;
    grid-template-columns: repeat(1, 328px);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    max-width: 328px;
  }
  .best__inner__png {
    display: none;
  }
  .best__inner__jpg {
    display: block;
  }
  .best__inner__h2 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: #000000;
    width: 327px;
  }
  .best__inner__p {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 327px;
  }
}/*# sourceMappingURL=main.css.map */